.pagination {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  
  .pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 4px;
  }
  
  .pagination li.active {
    background-color: #ccc;
  }
  
  .pagination li a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .pagination li a:hover {
    background-color: #aaa;
  }
 